listas

In [2]:
lista1 = ['jose', 230, 'maria']
print (lista1)

['jose', 230, 'maria']

acessando um elemento da lista, lembrado que ela inicia do 0

In [5]:
lista1 = ['jose', 230, 'maria']
print (lista1[2])

maria

descobrindo o indice de um detrminado elemento

In [8]:
lista1 = ['jose', 230, 'maria']
print (lista1.index('jose'))

0

descobrindo total de uma lista

In [9]:
lista1 = ['jose', 230, 'maria']
print (len(lista1))

3

In [11]:
lista1 = ['jose', 230, 'maria']
lista1.append('carlos')
lista1.append(23)
lista1.append('marcos')
#insere elemento no final da lista
print (lista1)

['jose', 230, 'maria', 'carlos', 23, 'marcos']

In [12]:
lista1 = ['jose', 230, 'maria']
lista1[2] = 'Adolfo'
print (lista1)
#subescreve o valor do indice

['jose', 230, 'Adolfo']

In [13]:
lista1 = ['jose', 230, 'maria']
lista1.insert(2,'Adolfo')
print (lista1)
#add o valor do indice

['jose', 230, 'Adolfo', 'maria']

removendo exemplos de um lista

In [22]:
lista1 = ['jose', 230, 'maria']
lista1.pop(1) #remove o elemento especifico da lista, por meio do indice
print(lista1)

['jose', 'maria']

In [23]:
lista1 = ['jose', 230, 'maria']
lista1.remove(230) #remove o valor especifico
print(lista1)

['jose', 'maria']

In [25]:
x = 1
num = [9,4,5,7,1,3,0]
num.reverse()
#coloca em ordem inversa a lista
num.sort() #coloca em ordem crescente
print(num)

num.sort(reverse=True)  #reverte a ordem (contraria/decrescente)
print(num)

[0, 1, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 1, 0]

concatenar e unir listar

In [1]:
frutas01 = ['banana', 'maça', 'morango']
frutas02 = ['laranja','limão', 'uva']

todasfrutas = frutas01 + frutas02
print(todasfrutas)

frutas01.extend(frutas02)
frutas02.append('amora')
print(frutas01)

['banana', 'maça', 'morango', 'laranja', 'limão', 'uva']
['banana', 'maça', 'morango', 'laranja', 'limão', 'uva']

estrutura de repetição usando FOR

In [2]:
compras = ['arroz','feijão', 'macarrão', 'carne', 'queijo']

for item in compras:
    print(item)

arroz
feijão
macarrão
carne
queijo

In [3]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
multiplicador = int(input('informe o valor da tabuada'))
for i in range (0,11):
    print(f'{multiplicador} x {i} = {multiplicador*i}')

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
for i in range(0, 101, 2): #2 é referente a de quantos em quantos ira pular
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
num = [9,2,3,6,5,8,4,7,1,0]
soma = 0
for i in num:
    soma += i
    print (soma)

9
11
14
20
25
33
37
44
45
45